name: Update AtCoder Stats

on:
  schedule:
    # 毎日 00:00 (JST) に実行
    - cron: '0 15 * * *'
  workflow_dispatch: # 手動で実行ボタンも押せるようにする

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run script
        run: python3 AtCoder/get_ac.py

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add AtCoder/atcoder_data.json
          git commit -m "Auto update AtCoder stats" || exit 0
          git push
